<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>GAMA</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>
    <div class="mainInfo">
        <section id="info">
            <div class="personal-info">
                <h2>My info</h2>
                <p>Bruno Gama</p>
                <p>bruno.g.masseiras@gmail.com</p>
                <p>(11) 966066593</p>
            </div>
            <br>
            <div class="skills">
                <h2>Habilidades</h2>
                <div class="skill-card">
                    <h3>Front End</h3>
                    <p>HTML - Avançado / CSS - Avançado</p>
                </div>
                <div class="skill-card">
                    <h3>Back End</h3>
                    <p>Javascript - Intermediário / Python - intermediário / Typescript - Intermediário</p>
                </div>
                <div class="skill-card">
                    <h3>Design</h3>
                    <p>Canva - Avançado / Figma - Avançado</p>
                </div>
            </div>
        </section>
        <section id="contact">
            <h2>Entre em Contato</h2>
            <form>
                <input type="text" placeholder="Nome">
                <input type="email" placeholder="Email">
                <textarea placeholder="Mensagem"></textarea>
                <button type="submit">Enviar</button>
            </form>
        </section>
    </div>
    <footer>
        <p>&copy; 2024 - Bruno Gama</p>
    </footer>
</body>
</html>
